<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsi.urban">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Urban">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SinglePlayer" android:exported="false" />
        <activity android:name=".MultiplayerActivity" android:exported="false" />
        <activity android:name=".ChallengeActivity" android:exported="false" />
        <activity android:name=".CountryModeActivity" android:exported="false" />
        <activity android:name=".EndResultActivity" android:exported="false" />
        <activity android:name=".GuessMapActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
</manifest>
